section#products
  .container
    .row
      .col-md-12
        .content
          h2.display-1.centered Products
          p.subhead-1.justified Our aim is to develop simple, intuitive, and secure multi-platform applications that help to connect and share information in a unique social media system. We are expanding upon the foundations and modules already built for our first products – eventSpark, and are developing a range of bespoke industry-specific solutions and administrative tools tailored to our clients’ needs.

      .col-xs-12.col-sm-6
        .product-item.centered
          .top
            img.product(src="img/products/eventspark@2x.png", alt="eventSpark®")
          .bottom
            p.subhead-2(style="margin-bottom:30px") eventSpark®  (“The Event Business”) - using software solutions for conferences and corporate events.
            a.button.outlined(href="http://www.eventspark.io" target='_blank' ) Visit website
      .col-xs-12.col-sm-6
        .product-item.centered
          .top
            img.product(src="img/products/expospark@2x.png", alt="expoSpark®")
          .bottom
            p.subhead-2 expoSpark® (“The Exhibition Business”) software solutions and applications for expos and trade shows.
            .announce
              h3.title Coming soon
    .row
      .col-xs-12.col-sm-6
        .product-item.centered
          .top
            img.product(src="img/products/impartspark@2x.png", alt="eventSpark®")
          .bottom
            p.subhead-2 impartSpark®  (The Training Business”) - software solutions for courses, seminars and workshops.
            .announce
              h3.title Coming soon
      .col-xs-12.col-sm-6
        .product-item.centered
          .top
            img.product(src="img/products/irspark@2x.png", alt="expoSpark®")
          .bottom
            p.subhead-2 irSpark® (“The Corporate Business)  bespoke corporate applications on mobile devices targeting: investors, analysts, brokers, senior management, board members and employees.
            .announce
             h3.title Coming soon