doctype
html
  head
    meta(charset='utf-8')
    meta(name='author', content='TapFuse')
    title Event management software platform
    link(rel="stylesheet" href="styles.css")

    meta(name="viewport" content="minimal-ui, width=device-width,  initial-scale=1, maximum-scale=1.0, minimum-scale=1, user-scalable=no")
    meta(name="description" content="TapFuse provides online software for Event Management, Web Surveys, & Email Marketing. Explore our leading Conference, Exhibition, Event and white label App solutions.")
    meta(name="HandheldFriendly" content="True")
    meta(name="MobileOptimized" content="320")
    meta(http-equiv="cleartype" content="on")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    meta(name="apple-mobile-web-app-title" content="Event management software platform")

  body(data-spy="scroll",data-offset="65", target='#navbar' )
    != yield

  script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
  script(type='text/javascript', src='//cdn.jsdelivr.net/vivus/0.2.1/vivus.min.js')
  script(type='text/javascript', src='js/libs.js')



  script.
    smoothScroll.init({
    speed: 1000,
    easing: 'easeInOutCubic',
    offset: 65,
    updateURL: true,
    callbackBefore: function ( toggle, anchor ) {},
    callbackAfter: function ( toggle, anchor ) {}
    });


    $(document).on('click','.navbar-collapse.in',function(e) {
    if( $(e.target).is('a') ) {
    $(this).collapse('hide');
    }
    });

  script.
    new Vivus('animation', {type: 'delayed', duration: 100});
