!= partial("_partials/navbar/navbar")
!= partial("_partials/hero/hero")
!= partial("_partials/about/about")
!= partial("_partials/team/team")
!= partial("_partials/products/products")
!= partial("_partials/clients/clients")
// != partial("_partials/jobs/jobs")
!= partial("_partials/footer/footer")
