section#jobs.hero-headline.bg-brand
  .container
    .row
      .col-md-12
        .centered
          h1.display-3 We are currently hiring!

section.centered.bg-gray
  .container
    .row
      .col-md-12
        h3.title We are looking for a new team member who would like to join TapFuse.
    .row
      .col-xs-12.col-sm-4
        .job-ad
          h4.display-1 Back-End Developer
          .btn-cont
            a.button(href="pdf/Back-End.pdf" target="_blank") View description

      .col-xs-12.col-sm-4
        .job-ad
          h4.display-1 Front-End Developer
          .btn-cont
            a.button(href="pdf/Front-End.pdf" target="_blank") View description

      .col-xs-12.col-sm-4
        .job-ad
          h4.display-1 Junior Developer
          .btn-cont
            a.button(href="pdf/Junior-Dev.pdf" target="_blank") View description
