section#team.centered.bg-gray
  .container
    .row
      .col-md-12
        h1.display-1 Our team
    .row
      .col-xs-12.col-sm-4.col-md-3
        .member
          .photo
            img(src="img/team/02_jon.png", alt="Jonathan Sivak" style="padding-top:2px;")
          h3.title.underline
            | Jonathan Sivak
          p.subhead-1
            | Co-Founder & CEO
      .col-xs-12.col-sm-4.col-md-3
        .member
          .photo
            img(src="img/team/03_lauris.png", alt="Lauricio Su")
          h3.title.underline
            | Lauricio Su
          p.subhead-1
            | Co-Founder & Chief Technology Architect
      .col-xs-12.col-sm-4.col-md-3
        .member
          .photo
            img(src="img/team/01_ruslan.png", alt="Ruslan Zinchenko")
          h3.title.underline
            | Ruslan Zinchenko
          p.subhead-1
            | Co-Founder & Director of Growth
      .col-xs-12.col-sm-4.col-md-3
        .member
          .photo
            img(src="img/team/04_paul.png", alt="Paulius Bucinskas")
          h3.title.underline
            | Paulius Bucinskas
          p.subhead-1
            | Co-Founder & CTO

    .row
      .col-xs-12.col-sm-4.col-md-3
        .member
          .photo
            img(src="img/team/08_angela.png", alt="Angela Argenziano")
          h3.title.underline
            | Angela Argenziano
          p.subhead-1
            | Operations Manager
      .col-xs-12.col-sm-4.col-md-3
        .member
          .photo
            img(src="img/team/05_vito.png", alt="Vytautas Rudminaitis")
          h3.title.underline
            | Vytautas Rudminaitis
          p.subhead-1
            | Designer & Front-end Developer
      .col-xs-12.col-sm-4.col-md-3
        .member
          .photo
            img(src="img/team/06_justas.png", alt="Justas Bucinskas" style="padding-top:2px;")
          h3.title.underline
            | Justas Bucinskas
          p.subhead-1
            | Service Administrator & Tech support
      .col-xs-12.col-sm-4.col-md-3
        .member
          .photo
            img(src="img/team/07_sandra.png", alt="Sandra Kanopkaite")
          h3.title.underline
            | Sandra Kanopkaite
          p.subhead-1
            | Project and Data Manager



    .row
      .col-xs-12.col-sm-4.col-md-4
        .member
          .photo
            img(src="img/team/09_giulia.png", alt="Giulia Di Tomaso")
          h3.title.underline
            | Giulia Di Tomaso
          p.subhead-1
            | Business Development Executive Italy
      .col-xs-12.col-sm-4.col-md-4
        .member
          .photo
            img(src="img/team/10_joseph.png", alt="Joseph Broun")
          h3.title.underline
            | Joseph Broun
          p.subhead-1
            | Business Development Manager UK
      .col-xs-12.col-sm-4.col-md-4
        .member
          .photo
            img(src="img/team/11_nicolas.png", alt="Nicolas Daoud")
          h3.title.underline
            | Nicolas Daoud
          p.subhead-1
            | Business Development Executive UAE
