footer#footer.footer
  .container
    .row
      .col-xs-12.col-sm-3
        ul.footer-nav.centered
          li
            a(data-scroll href='#about') About us
          li
            a(data-scroll href='#team') Team
          li
            a(data-scroll href='#products') Products
          li
            a(data-scroll href='#clients') Clients
          li
            a(data-scroll href='#jobs') Jobs
          li
            a(data-toggle='modal' href='#contact') Contact us

      .col-xs-12.col-sm-3
        .social.centered
          h3.subhead-1 TapFuse LinkedIn
          .social-icn
            a(href="https://www.linkedin.com/company/tapfuse-ltd")
              img(src="img/icn_in.png", alt="TapFuse LinkedIn")


      .col-xs-12.col-sm-3
        .contacts
          h4 TapFuse UK
          .info
            img(src="img/icn_location.png" alt="Location")
            p 16-24 Underwood Street <br> London, UK
          //- .info
            img(src="img/icn_mail.png" alt="Email")
            a(href="mailto:info@eventspark.io") info@eventspark.io
          .info
            img(src="img/icn_mail.png" alt="Email")
            a(href="mailto:support@tapfuse.io") support@tapfuse.io

      //- .col-xs-12.col-sm-3
      //-   .contacts
      //-     h4 TapFuse Dubai
      //-     .info
      //-       img(src="http://i.imgur.com/KYAtWkZ.png" alt="Location")
      //-       p  16-24 Underwood Street <br> London, UK
      //-     .info
      //-       img(src="http://i.imgur.com/cG8AyzR.png" alt="Email")
      //-       a(href="mailto:info@eventspark.io") info@eventspark.io
      //-     .info
      //-       img(src="http://i.imgur.com/cG8AyzR.png" alt="Email")
      //-       a(href="mailto:support@tapfuse.io") support@tapfuse.io

      .col-xs-12.col-sm-3
        .contacts
          h4 Tapfuse Italy
          .info
            img(src="img/icn_location.png" alt="Location")
            p ALIA s.a.s.<br> Vie Della Vite 23<br>00187 Rome

    .row
      .col-md-12(style="clear:both")
        p.copyright &copy; Copyright 2015 TapFuse