section#clients.bg-gray
  .container
    .row
      .col-md-12
        h2.display-1.centered Our clients
    .row
      .col-xs-6.col-sm-4.col-md-3
        .client
          img(src="img/clients/01_gfc.png", alt="Global Financial Conferences")
      .col-xs-6.col-sm-4.col-md-3
        .client
          img(src="img/clients/02_lbcg.png", alt="London Business Conferences Group")
      .col-xs-6.col-sm-4.col-md-3
        .client
          img(src="img/clients/03_ipe.png", alt="IPE Investment & Pensions Europe")
      .col-xs-6.col-sm-4.col-md-3
        .client
          img(src="img/clients/04_morrow.png", alt="Morrow Communications")
    .row
      .col-xs-6.col-sm-4.col-md-3
        .client
          img(src="img/clients/icc.png", alt="International Chamber of Commerce")
      .col-xs-6.col-sm-4.col-md-3
        .client
          img(src="img/clients/invesco.png", alt="Invesco")
      .col-xs-6.col-sm-4.col-md-3
        .client
          img(src="img/clients/05_ucl.png", alt="UCL")
      .col-xs-6.col-sm-4.col-md-3
        .client
          img.align(src="img/clients/08_lbs.png", alt="London Business School")

    .row
      .col-xs-6.col-sm-4.col-md-3
        .client
          img.align(src="img/clients/07_kings.png", alt="Kings College London ")
      .col-xs-6.col-sm-4.col-md-3
        .client
          img(src="img/clients/06_imperial.png", alt="Imperial College London")
      .col-xs-6.col-sm-4.col-md-3
        .client
          img(src="img/clients/09_royal.png", alt="Royal Society of Medicine")
      .col-xs-6.col-sm-4.col-md-3
        .client
          img(src="img/clients/10_ich.png", alt="Institute of Child Health")

    .row
      .col-xs-6.col-sm-4.col-md-3
        .client
          img(src="img/clients/11_daps.png", alt="DAPS Global")
      .col-xs-6.col-sm-4.col-md-3
        .client
          img(src="img/clients/12_bps.png", alt="British Pharmacological Society")
      .col-xs-6.col-sm-4.col-md-3
        .client
          img(src="img/clients/ncs.png", alt="National Citizen Service")
      .col-xs-6.col-sm-4.col-md-3
        .client
          img(src="img/clients/croydon.png", alt="Develop Croydon")

    .row
      .col-xs-6.col-sm-4.col-md-3
        .client
          img(src="img/clients/13_creative.png", alt="Creative Communications")
      .col-xs-6.col-sm-4.col-md-3
        .client
          img(src="img/clients/14_kcp.png", alt="Kimberly Clark Professionals")
      .col-xs-6.col-sm-4.col-md-3
        .client
          img(src="img/clients/15_dmk.png", alt="DMK Baby")
      .col-xs-6.col-sm-4.col-md-3
        .client
          img(src="img/clients/16_intertrade.png", alt="InterTradeIreland")


    .row
      .col-xs-6.col-sm-4.col-md-3
        .client
          img(src="img/clients/dmgevents.png", alt="DMG Events")
      .col-xs-6.col-sm-4.col-md-3
        .client
          img(src="img/clients/landscape.png", alt="Landscape")
      .col-xs-6.col-sm-4.col-md-3
        .client
          img(src="img/clients/19_orrick.png", alt="Orrick")
      .col-xs-6.col-sm-4.col-md-3
        .client
          img.align(src="img/clients/18_wikimedia.png", alt="Wikimedia Foundation")

    .row
      .col-xs-6.col-sm-4.col-md-3
        .client
          img.align(src="img/clients/17_wikimania.png", alt="Wikimania 2014")

