article#about
  .container
    .row
      .col-md-12
        .content
          .img-content
            img.big-logo(src="img/tapfuse_logo@2x.png", alt="TapFuse")
          h1.display-1.centered
            | About us
          p.subhead-1.justified TapFuse is a mobile application development company based in London that offers a complimentary suite of software solutions for our clients globally. Our aim is to develop simple, intuitive, and secure multi-platform applications that help to connect and share information in a unique social media environment for professional and educational institutions.<br><br>   Our products are designed to address all the key problems faced by event organisers, before, during and after their events; and to offer additional value added features for all their stakeholders (attendees, sponsors and media partners). We work with leading institutions in the educational, financial and public sectors, which host a number of events and conferences per year.  <br><br>Companies like University College London, Institute of Child Health, Global Financial Conferences, Kimberly Clark Professionals rely on our app to engage participants through mobile.

